<h1>Listing guides</h1>

<table>
  <tr>
    <th>Topic</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guides.each do |guide| %>
  <tr>
    <td><%= link_to "#{guide.Topic}", guide %></td>
    <td><%= guide.Description %></td>
    <td><%= link_to 'Remove', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guide', new_guide_path %>
