<p id="notice"><%= notice %></p>

<p>
  <b>Topic:</b>
  <%= @guide.Topic %>
</p>

<p>
  <b>Description:</b>
  <%= @guide.Description %>
</p>
<table>
  <tr>
    <th>Step</th>
    <th></th>
    <th></th>
  </tr>

<% @guide.steps.each do |stp| %>
  <tr>
    <td><%= stp.step %></td>
    <td><%= link_to 'Edit', edit_guide_step_path(@guide, @step) %></td>
    <td><%= link_to 'Destroy', stp, method: :delete %></td>
  </tr>
<% end %>
</table>



<%= link_to 'Edit Topic', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
